@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  font-size: 16px;
}

/* Wrapper */
.wrapper {
  background: #fff;
  height: 100vh;
  width: 100%;
  position: relative;
}

/* Navbar */

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-container p {
  color: #000611;
  margin-left: 1rem;
  white-space: nowrap;
}

.header-container #health-part{
  color: #003dbb;
}

.header-container #first-part {
  margin-top: 0;
  font-size: 19px;
  font-weight: 600;
}

.header-container #medical-center {
  font-size: 13px;
  position: relative;
  top: -8px;
  letter-spacing: 1px;
  font-weight: 300;
}

.nav-header ul{
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.nav-header ul li {
  list-style: none;
}

.nav-header ul li a {
  color: #000611;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  white-space: nowrap;
}

.header-container button {
  background-color: #003dbb;
  background: #003dbb;
  border: solid 2px #003dbb;
  border-width: 8px;
  color: #fff;
  margin-right: 10px;
  font-size: 15px;
  white-space: nowrap;
}

.header-container button:hover {
  cursor: pointer;
}

.header-container img,
.header-container nav,
.header-container button {
  z-index: 1;
}

/* intro */

.intro {
 width: 100%;
 height: auto;
 display: flex;
} 


.background-img {
  background: url(../images/create\ an\ image\ 2214cab3-a5dd-4adb-aef9-e1e66da8ef2e.png) center / cover no-repeat;
  min-height: 600px;
  min-width: 1440px;
}

.background-img .content {
  position: absolute; 
  top: 0; 
  background: rgb(0, 0, 0) ; 
  background: rgba(87, 110, 238, 0.5); 
  color: #f1f1f1;
  width: 100%; 
  min-height: 600px; 
}  

.intro {
  display: flex;
  flex-direction: column;
}

.intro-text  {
  margin-top: 2rem;
  align-items: center;
  white-space: nowrap;
  margin-left: 2.5rem;
  text-align: center;
  position: relative;
  bottom: -60px;
}

.intro-text h1 {
  font-size: 8vh;
  white-space: nowrap;
  font-weight: 400;
  color: #000611;
}

.intro-text span {
  font-weight: 600;
  color: #003dbb;
}

.intro-text p {
  position: relative;
  left: -5px;
  color: #000611;
  font-weight: 600;
  letter-spacing: 1px;
}

.intro-text button {
  margin-top: 2rem;
  background-color: #003dbb;
  background: #003dbb;
  border: solid 2px #003dbb;
  border-width: 15px;
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

.intro-text button:last-child {
  margin-left: 2rem;
  padding-left: 34px;
  padding-right: 34px;
}

.intro-text button:hover {
  cursor: pointer;
}

/* Why Choose Us */

.our-advantages {
  text-align: center;
  position: relative;
}

.boxes {
  float: left;
  border: solid 5px #fff;
  box-shadow: 9px 6px 6px -3px rgb(222, 240, 250);
  width: 244.8px;
  height: 170px;
  margin-left: 5rem;
  margin-top: 1rem;
  position: relative;
  left: 2%;
}

.boxes img {
  width: 50px;
  height: 50px;
  background-color: #a9c5fd;
  background: #a9c5fd;
  border: solid 2px #a9c5fd;
  border-radius: 5px;
  border-width: 12px;
  box-shadow: 3px -4px 0px 0px rgba(235,235,235,1);
}

.boxes p:first-of-type {
  font-weight: 500;
  font-size: 15px;
  white-space: nowrap;
}

.boxes p:nth-child(3) {
  font-size: 12px;
  font-weight: 300;
  color: #737070;
 white-space: nowrap;
}

.boxes p {
  margin-top: 0.2rem;
}

.our-advantages::after {
  content: "";
  display: table;
  clear: both;
}

.our-advantages section p:first-child {
  margin-top: 2rem;
  color: #6075a3;
  position: relative;
  bottom: -6px;
} 

.our-advantages section h2 {
  margin-bottom: 2rem;
  font-size: 32px;
  font-weight: 400;
}

/* form styling */

.info-form {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
}


.info-form img {
  width: 570px;
  height: 615px;
  border-radius: 8px;
  margin-top: 1.2rem;
  margin-left: 2rem;
  position: relative;
  right: -81px;
}

.info-form p {
  color: #716f6f;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.info-form form {
  margin-top: 1rem;
  width: 520px;
  height: 620px;
  padding: 25px 35px;
  border-radius: 7px;
  background-color: #eff4fd;
  /* text-align: center; */
  position: relative;
  right: -210px;
  padding-bottom: 40px;
  /* border: solid rgb(42, 41, 41) 2px; */
} 

.info-form form fieldset input:last-child {
  background-color: #bed2f5;
  border: solid #bed2f5;
  border-radius: 3px;
  color: #0e60ed;
  border-width: 8px;
  padding-right: 171px;
  padding-left: 190px;
  padding-top: 8px;
  padding-bottom: 5px;
  letter-spacing: 1px;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.info-form form fieldset input {
  /* margin-top: 1rem; */
  border-radius: 5px;
  padding: 10px;
  padding-right: 185px; 
  padding-left: 15px;
  padding-top: 10px; 
  /* border: solid rgb(42, 41, 41) 2px; */
  border: none;
  margin-bottom: 0.5rem;
}

.info-form form fieldset input:focus:not(input:last-of-type){
  outline: 1px solid hsl(246, 81%, 79%);
  outline-offset: -1px;
}

.info-form form fieldset textarea {
  /* margin-top: 1rem; */
  resize: none;
  border: none;
}

.info-form form fieldset textarea:focus {
  outline: 1px solid hsl(246, 81%, 79%);
  outline-offset: -1px;
}

.info-form form fieldset legend {
  color: #000;
  font-size: 22px;
  position: relative;
  right: -95px;
  font-weight: 300;
}

.info-form form label {
  /* display: none; */
  color: #000;
  font-weight: 300;
}

.info-form form label span {
  /* color: #f8a39f;  */
  font-size: 11px;
}

.info-form fieldset {
 border: none;
}
