@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  overflow-x: hidden;
}

.webpage {
  max-width: 100%;
}

/* Wrapper */
.wrapper {
  background: #fff;
  height: 100vh;
  position: relative;
  width: 100%;
}

/* Navbar */

.header-container {
  align-items: center; 
  display: flex;
  justify-content: space-between; 
}

.header-container p {
  color: #000611;
  margin-left: 1rem;
  white-space: nowrap;
  margin-top: 4px;
}

.header-container #health-part{
  color: #0021ba;
}

.header-container #first-part {
  color: #000611;
  font-size: 25px;
  font-weight: 600;
  margin-top: 0;
}

.header-container #medical-center {
  color: #000611;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-left: 0.2rem;
  position: relative;
  top: -8px;
}

.nav-header ul{
  display: flex;
  flex-direction: row;
  gap: 3vw; 
  margin-right: 1.5rem;
  margin-top: 10px;
}

.nav-header ul li {
  list-style: none;
}

.nav-header ul li a {
  color: #000611;
  font-weight: 600;
  font-size: 1.5vw;
  letter-spacing: 1px;
  text-decoration: none;
  white-space: nowrap;
}

.nav-header ul li a:hover {
  border-bottom: 1px solid #558ef9;
  color: #558ef9;
  font-weight: 600; 
  text-decoration: none;
  transition: 0.3s;
}

.header-container button {
  background: #003dbb;
  background-color: #003dbb;
  border: solid 2px #003dbb;
  /* border-width: 8px; */
  color: #fff;
  display: flex;
  font-size: 16px;
  /* margin-right: 0.5rem; */
  position: relative;
  top: -2px;
  white-space: nowrap;
  border-width: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
}

.right-nav {
  display: flex;
  margin-right: 2rem;
  margin-top: 10px;
}

.right-nav img {
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -70px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: none;
}

.hide {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.header-container button:hover {
  cursor: pointer;
}

.header-container img,
.header-container nav,
.header-container button {
  z-index: 1;
}

/* intro */

.intro {
 display: flex;
 height: auto;
 width: 100%;
 text-align: center;
 justify-content: center;
} 

.background-img {
  background: url(../images/create\ an\ image\ 2214cab3-a5dd-4adb-aef9-e1e66da8ef2e.png) center / cover no-repeat;
  min-height: 600px;
  min-width: 1440px;
}

.background-img .content {
  background: rgb(0, 0, 0) ; 
  background: rgba(87, 110, 238, 0.4);
  color: #f1f1f1; 
  min-height: 600px; 
  position: absolute; 
  top: 0; 
  width: 100%; 
}  

.intro-text  {
  /* display: flexbox; */
  justify-content: center; 
  bottom: -60px;
  margin-left: 2.5rem;
  margin-top: 2rem;
  position: relative;
  /* left: 25%;  */
  text-align: center; 
  max-width: 600px;
  flex-wrap: wrap;
}

.intro-text h1 {
  color: #000611;
  font-weight: 400;
  font-size: 8vh;
  white-space: nowrap;
  text-align: center;
}

.intro-text span {
  color: #003dbb;
  font-weight: 600;
}

.intro-text p {
  color: #000611;
  word-wrap: inherit;
  font-size: 16px;
  font-weight: 600;
  left: -5px;
  letter-spacing: 1px;
  position: relative;
  /* max-width: 1000px;
  left: 12%; */
}

.intro-text button {
  background-color: #003dbb;
  background: #003dbb;
  border: solid 2px #003dbb;
  border-width: 15px;
  color: #fff;
  font-size: 18px;
  margin-top: 2rem;
  padding-left: 20px;
  padding-right: 20px;
}

.intro-text button:last-child {
  margin-left: 2rem;
  padding-left: 34px;
  padding-right: 34px;
}

.intro-text button:hover {
  cursor: pointer;
}

/* Why Choose Us */

.our-advantages {
  text-align: center;
  justify-content: center; 
  /* align-items: center; */
}

.boxes-container {
  /* margin-left: 9vw; */
  position: relative;
  /* margin-left: 11vw;  */
  margin-right: 2vw;
  text-align: center;
  display: inline-block;
}

.boxes {
  border: solid 5px #fff;
  box-shadow: 9px 6px 6px -3px rgb(222, 240, 250);
  float: right;  
  min-height: 170px;
  margin-left: 2vw;  
  margin-top: 1rem;
  /* width: 227.13px; */
  max-width: 227.13px;
  width: 20vw;
}


.boxes img {
  background: #a9c5fd;
  background-color: #a9c5fd;
  border: solid 2px #a9c5fd;
  border-radius: 5px;
  border-width: 12px;
  box-shadow: 3px -4px 0px 0px rgba(235,235,235,1);
  height: 50px;
  width: 50px;
}

.boxes p:first-of-type {
  font-weight: 500;
  font-size: 15px;
  white-space: nowrap;
}

.boxes p:nth-child(3) {
  color: #737070;
  font-size: 11px;
  font-weight: 300;
}

.boxes p {
  margin-top: 0.2rem;
}

.our-advantages::after {
  clear: both;
  content: "";
  display: table;
}

.our-advantages section p:first-child {
  bottom: -6px;
  color: #6075a3;
  margin-top: 2rem;
  position: relative;
} 

.our-advantages section h2 {
  position: relative;
  right: -5px;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 2rem;
}

/* form styling */

.info-form {
  display: flex; 
  margin-bottom: 3rem;
  justify-content: center;
}


.info-form img {
  border-radius: 8px;
  max-height: 615px; 
  margin-top: 1.2rem;
  margin-right: 3vw;
  margin-left: 1vw;
  /* margin-left: 3vw;  */
  /* position: relative; 
 /* left: -15px; */
  /* right: -40px;    */
  /* left: 4%; */
  /* max-width: 570px;  */
  width: 480px; 
  /* height: 78vh; */
}

.info-form p {
  color: #716f6f;
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}

.info-form form {
  background-color: #eff4fd;
  border-radius: 7px;
  margin-top: 1rem;
  /* margin-right: 10vw; */
  max-height: 620px;
  padding: 25px 35px;
  padding-bottom: 40px;
  /* position: relative; */
  /* right: -170px;   */
  /* right: -140px; */
  width: 480px;  
} 

.info-form form fieldset input:last-child {
  background-color: #bed2f5;
  border: solid #bed2f5;
  border-radius: 3px;
  border-width: 8px;
  color: #0e60ed;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 1rem;
  /* padding-bottom: 5px;
  padding-left: 190px;
  padding-right: 171px;
  padding-top: 8px; */
  width: 100%;
}

.info-form form fieldset input {
  border: none;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  padding: 10px;
  /* padding-left: 15px;
  padding-right: 185px; 
  padding-top: 10px;  */
  width: 100%;
}

.info-form form fieldset input:focus:not(input:last-of-type) {
  outline: 1px solid hsl(246, 81%, 79%);
  outline-offset: -1px;
}

.info-form form fieldset textarea {
  border: none;
  resize: none;
  width: 100%;
}

.info-form form fieldset textarea:focus {
  outline: 1px solid hsl(246, 81%, 79%);
  outline-offset: -1px;
}

.info-form form fieldset legend {
  /* display: flex; */
  color: #000;
  font-size: 22px;
  font-weight: 300;
  margin-left: 8.2vw;
}

.info-form form label {
  color: #000;
  font-weight: 300;
}

.info-form form label span {
  font-size: 11px;
}

.info-form fieldset {
 border: none;
}

.form-section {
  position: relative;
  /* right: -10px;  */
  text-align: center;
}

.form-section p:first-of-type {
  bottom: -6px;
  color: #6075a3;
  margin-top: 2rem;
  position: relative;
}

.form-section h2:first-of-type {
  margin-bottom: 0.5rem;
  font-size: 32px;
  font-weight: 400;
}

/* Accordion */

.faq {
  /* text-align: center; */
  justify-content: center;
  display: grid;
}

.faq-heading {
  font-size: 25px;
  margin-bottom: 1rem;
  /* position: relative; */
  /* right: -40px; */
  /* left: 0.5%;  */
  text-align: center; 
}

.accordion h3 {
  background-color: #a9c5fd;
  font-size: 32px;
  height: 57px;
  padding: 7px 40px 55px 30px;
  width: 480px;
}

.accordion {
  background-color:#77a4ff;
  max-width: 520px;
  min-height: 328px;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  /* position: relative;
  right: -460px;   */
  /* right: 40px; */ 
}

.panel {
  background-color: #fff;
  display: none; 
  overflow: hidden;
  padding: 0 18px;
}

.accordion-que {
  background-color: #fff;
  border: none;
  color: #444;
  cursor: pointer;
  display: flex;
  height: 57px;
  margin-bottom: 2px;
  padding: 17px 40px 40px 30px;
  text-align: center;
  transition: 0.4s;
  width: 480px;  
}

.accordion-que.active {
  margin-bottom: 0;
}

.accordion-que:hover {
  color: #3d50dc;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.5px;
} 

.panel.active {
  /* background-color: #c2d2f1;  */
  display: block;
  font-size: 14px;
  padding-left: 30px;
  padding-bottom: 17px;
  margin-bottom: 2px;
  width: 480px;
} 

/* Footer */

.container {
  background-color: rgba(103, 170, 255, 0.7);
  margin-top: 3rem;
  min-height: 195px;
  padding-top: 10px;
}

.footer {
  display: grid;
  gap: 1vw;
  grid-template-columns: 20% 15% 15% 25%;
  grid-template-rows: auto;
  /* padding-left: 3vw; */
  /* padding-top: 1vw;
  padding-right: 13vw;    */
  padding: 2vw 15vw 0 4vw;
  white-space: nowrap;
  width: 100%;
  justify-content: center;
}

.footer p:first-child {
  /* margin-left: 1.3rem; */
  margin-top: 1rem;
  white-space: nowrap;
  position: relative;
  bottom: -55px;
}

.footer .footer-nav {
  list-style: none;
  /* margin-left: 1rem; */
  margin-top: 1.2rem;
  font-size: 15px;
  grid-column-start: 2;
  grid-row-start: 1;
  z-index: 2;
}

.footer .footer-nav li a {
  color: #000611;
  text-decoration: none; 
}

.footer .footer-nav li a:hover,
.footer .credit li a:hover {
  border-bottom: 1px solid rgb(66, 63, 212);
  color: #16408f; 
  font-weight: 600;
  text-decoration: none; 
  letter-spacing: 0.5px; 
  transition: 0.3s;
}

.footer .footer-nav li {
  margin-bottom: 0.3rem;
}

.footer address span {
  letter-spacing: 1px;
}

.footer .social-links {
  grid-column-end: 3;
  grid-column-start: 1;
  list-style: none; 
  /* margin-left: 0.3rem; */
  position: relative;
  top: -70px; 
  left: -13px;
  z-index: 1;
}

.footer .social-links li {
  display: inline;
}

.footer .social-links li a img {
  width: 40px;
  height: 40px;
}

.footer .social-links li a img:hover {
  height: 45px;
  transition: 0.3s;
  width: 45px;
}

.footer button {
  background: #003dbb;
  background-color: #003dbb;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  grid-column-start: 4;
  grid-row-start: 1;
  height: 43px;
  margin-left: 15rem;
  margin-top: 6rem; 
  white-space: nowrap; 
  width: 172.6px;
}

.footer #copy {
  color: #000611;
  font-size: 14px; 
  grid-column-start: 4;
  grid-row-start: 2;
  position: relative;
  top: -45px;
  margin-left: 9rem;
}

.footer #health {
  color: #0021ba;
}

.footer #first {
  color: #000611;
  font-size: 25px;
  font-weight: 600;
  margin-top: 0;
}

.footer #med-cen {
  color: #000611;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
  right: -3.5px;
  top: -8px;
}

.footer .credit {
  color: #fbfbfb;
  grid-column-start: 3;
  grid-row-start: 1;
  list-style: none;
  margin-top: 0.7rem;
}

.footer .credit li {
  font-size: 11px;
  margin-bottom: 0.4rem;
}

.footer .credit li a {
  color: #000611;
  text-decoration: none;
}

/* Responsive Design */

@media only screen and (max-width: 767px) {

  /* Intro */
  .right-nav ul {
    display: none;
  }

  .right-nav button {
    display: none;
  }

  .right-nav img {
    display: flex;
    cursor: pointer;
  }

  .intro-text  {
    bottom: -80px;
  }
  
  .intro-text h1 {
    font-size: 40px;
  }
  
  .intro-text p {
    font-size: 14px;
  }
  
  .intro-text button {
    border-width: 7px;
    margin-right: 10px;
  }

  .show {
    display: block;
  }

  /* Our-advantages */
  .boxes {
    float: unset;
    width: 190px;
  }

  .boxes p:nth-child(2) {
    font-size: 12px;
  }

  /* Form */

  .info-form img {
    display: none;  
  }
  
  .info-form form {
    width: 395.6px;  
  } 

  /* Accordion */

  .accordion {
    width: 420px;
  }

  .panel {
    background-color: #fff;
    display: none; 
    overflow: hidden;
    padding: 0 18px;
  }
  
  .accordion-que {
    background-color: #fff;
    border: none;
    color: #444;
    cursor: pointer;
    display: flex;
    height: 57px;
    margin-bottom: 2px;
    padding: 17px 40px 40px 30px;
    text-align: center;
    transition: 0.4s;
    width: 100%;  
  }
  
  .accordion-que.active {
    margin-bottom: 0;
  }
  
  .panel.active {
    /* background-color: #c2d2f1;  */
    /* display: block;
    font-size: 14px;
    padding-left: 30px;
    padding-bottom: 17px;
    margin-bottom: 2px; */
    width: 100%;
  } 

  .accordion h3 {
    width: 100%;
  }

  /* Footer */

  .container {
    min-height: 30vw;
  }

  .footer {
    grid-template-columns: 30vw 33vw;
    padding:  0 5rem 2rem 0;
  }
  
  .footer p:first-child {
    right: -120px;
  }

  .footer .credit {
    margin-right: 5rem;
    grid-column-start: 3;
    grid-row-start: 2;
  }

  .footer .credit li {
    font-size: 11px;
    font-weight: 450;
  }
  
  .footer .footer-nav {
    font-size: 13px;
    font-weight: 450;
    padding-left: 6vw;
    grid-column-start: 2;
    grid-row-start: 2;
  }
  
  .footer .footer-nav li {
    margin-bottom: 0.77rem;
  }

  .footer button {
    display: none;
  }
  
  .footer #copy {
    font-size: 11px;
    margin-left: 35.3vw;
    grid-column-start: 2;
    grid-row-start: 3;
    top: 0;
  }

  .footer #health {
    color: #0021ba;
  }
  
  .footer #first {
    color: #000611;
    font-size: 30px;
    font-weight: 600;
    margin-top: 0;
  }
  
  .footer #med-cen {
    font-size: 21px;
    /* color: #000611;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    position: relative;
    right: -3.5px;
    top: -8px; */
  }

  .footer .social-links li a img {
    width: 30px;
    height: 30px;
  }

  .footer p:first-of-type {
    grid-column-start: 2;
    grid-row-start: 1;
    bottom: 0;
  }

  .footer .social-links {
    grid-column-start: 2;
    grid-row-start: 3;
    top: -4px;
    padding-left: 1.5rem;
  }

  .footer .footer-nav li a:hover,
  .footer .credit li a:hover {
  /* border-bottom: 1px solid rgb(66, 63, 212);
  color: #16408f; 
  font-weight: 600; */
  /* text-decoration: none;  */
  letter-spacing: 0.1px; 
  transition: 0.3s;
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  /* Nav-bar */
  .right-nav ul {
    display: none;
  }

  .right-nav button {
    display: none;
  }

  .right-nav img {
    display: flex;
    cursor: pointer;
  }

  .show {
    display: block;
  }

  /* Boxes */

  .boxes {
    width: 180px;
    margin-left: 1vw; 
  }

  .boxes p:nth-child(2) {
    font-size: 12px;
  }

  .boxes p:nth-child(3) {
    position: relative;
    font-size: 11px;
    font-weight: 400
  } 

  .our-advantages section p:first-child, 
  .our-advantages section h2 {
    position: static;
  }

  /* Form */
  .info-form img {
    display: none;  
  }

  /* Footer */
  
  .footer {
    grid-template-columns: 30% 25% 15%;
  }
  
  .footer p:first-child {
    padding-right: 1rem;
  }

  .footer .credit li {
    font-size: 11px;
    font-weight: 450;
  }
  
  .footer .footer-nav {
    font-size: 11px;
    font-weight: 450;
    padding-left: 1rem;
  }
  
  .footer .footer-nav li {
    margin-bottom: 0.77rem;
  }

  .footer button {
    display: none;
  }
  
  .footer #copy {
    font-size: 13px;
    margin-left: 18vw;
    grid-column-start: 1;
    grid-row-start: 3;
  }
  
}
